@font-face {
    font-family: "Mrs Eaves";
    src: url('@/assets/fonts/MrsEaves/MrsEavesSmallCaps.woff');
}

@font-face {
    font-family: "Mrs Eaves OT";
    src: url('@/assets/fonts/MrsEaves/MrsEavesOT.otf');
}

@font-face {
    font-family: "Mr Eaves";
    src: url('@/assets/fonts/MrEaves/mreavesxlsanot-reg-webfont.woff');
    font-weight: normal;
}
@font-face {
    font-family: "Mr Eaves";
    src: url('@/assets/fonts/MrEaves/mreavesxlsanot-bold-webfont.woff');
    font-weight: bold;
}

* {
    font-family: "Mr Eaves";
    font-weight: normal;
    font-size:20px;
}

h2 {
    font-family: "Mrs Eaves";
    font-size: 48px;
    text-transform: uppercase;
    color: $color-red;
}

h3 {
    font-family: "Mr Eaves";
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-red;
}

p {
    font-size: 20px;
    text-align: left;
    line-height: 22px;
}

strong {
    font-weight: bold;
}

li::marker {
    color: $color-red;
}

li strong {
    color: $color-red;
}

a {
    color: inherit;
    text-decoration: none;
}